:root {
  --md-admonition-icon--def: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>bookmark-outline</title><path d="M17,18L12,15.82L7,18V5H17M17,3H7A2,2 0 0,0 5,5V21L12,18L19,21V5C19,3.89 18.1,3 17,3Z" /></svg>');
  --md-admonition-icon--file-lines: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><title>file-lines</title><path d="M64 464c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm56 256c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120z"/></svg>');
  --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><title>code</title><path d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"/></svg>');
}

.md-typeset .admonition.def,
.md-typeset details.def {
  border-color: rgb(43, 155, 70);
}

.md-typeset .def>.admonition-title,
.md-typeset .def>summary {
  background-color: rgba(43, 155, 70, 0.1);
}

.md-typeset .def>.admonition-title::before,
.md-typeset .def>summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--def);
  mask-image: var(--md-admonition-icon--def);
}

/* for input files */
.md-typeset .admonition.file-lines,
.md-typeset details.file-lines {
  border-color: #6497b1	;
}
.md-typeset .file-lines > .admonition-title,
.md-typeset .file-lines > summary {
  background-color: rgba(1, 31, 75, 0.1);
}
.md-typeset .file-lines > .admonition-title::before,
.md-typeset .file-lines > summary::before {
  background-color: #b3cde0;
  -webkit-mask-image: var(--md-admonition-icon--file-lines);
          mask-image: var(--md-admonition-icon--file-lines);
}


/* for code files */
.md-typeset .admonition.code,
.md-typeset details.code {
  border-color: #DD7373;
}
.md-typeset .code > .admonition-title,
.md-typeset .code > summary {
  background-color: rgba(17, 27, 25, 0.1);
}
.md-typeset .code > .admonition-title::before,
.md-typeset .code > summary::before {
  background-color: #DD7373;
  -webkit-mask-image: var(--md-admonition-icon--code);
          mask-image: var(--md-admonition-icon--code);
}

